.mobile-navigation {
  top: 0;
  position: fixed;
  display: flex;
  min-width: 270px;
  background-color: #34302d;
  height: 100%;
  min-height: 390px;
  box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  color: #fff;
  transition: all ease 0.4s;
}
.mobile-navigation .navbar-link {
  border-bottom: 1px solid #474441;
  color: #f1f1f1;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  line-height: 15px;
  text-transform: none;
}
.mobile-navigation .navbar-link.active  {
  border-bottom: 1px solid transparent;
  background-color: #262321;
}
.mobile-navigation .navbar-link:hover  {
  border-bottom: 1px solid transparent;
  background-color: #262321;
}
