.navbar-link a {
  color: #eee;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  line-height: 14px;
  padding: 28px 20px;
  font-weight: 700;
  white-space: nowrap;
}
.navbar-link:hover a {
  color: #eee;
  background-color: #6db33f;
}
.active  a{
  background-color: #6db33f;
  box-shadow: none;
}
