* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  background-color: #f1f1f1;
}
body,
p,
h1 {
  margin: 0;
  font-weight: 400;
  font-family: varela round, sans-serif;
  color: #34302d;
}
h1 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
strong {
  font-weight: 700;
}
@media (max-width: 1000px) {
  body,
  html {
    height: 100%;
  }
  .desktop {
    display: none !important;
  }
  .search-dropdown {
    display: none !important;
  }
  .mobile-nav {
    display: flex !important;
  }
  .project {
    flex-grow: 1;
  }
  .project:nth-child(even) {
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .project {
    flex-grow: 1;
  }
  .project:nth-child(even) {
    margin-left: 0;
  }
}
